.d-f {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.jcc {
	justify-content: center;
}
.jcsb {
	justify-content: space-between;
}
.jcsa {
	justify-content: space-around;
}
.aic{
	-ms-align-items: center;
	align-items: center;
}
.tac {
	text-align: center;
}
.tal {
	text-align: left;
}
.b-n {
	border: none;
}
.container-fluid {
	padding: 0;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.m-auto {
	margin: 0 auto;
}
.ttu {
	text-transform: uppercase;
}
.padding-none {
	padding: 0;
}
.cursor {
	cursor: pointer;
}
.bg-none {
	background: none;
}
.transition {
	@include shift(all, .5s, ease);
}
.reset-pad {
	padding-right: 10px;
	padding-left: 10px;
	height: 100%;
}
.f-w {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.fdc {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.regular {
	font-family: 'OpenSans-Regular', sans-serif;
}
.semibold {
	font-family: 'OpenSans-SemiBold', sans-serif;
}
.bold {
	font-family: 'OpenSans-Bold',sans-serif;
}
.reset-btn {
	@extend .b-n;
	padding: 0;
	background-color: transparent;
}
.btn--full {
	@extend .b-n;
	@extend .transition;
	@extend .tac;
	color: #fff;
	padding: 10px 20px;
	background-color: #39ac82;
	border-radius: 25px;
	box-shadow: 0 0 14px 1px rgba(57, 172, 130, 0.4);
	line-height: 26px;
	&:hover {
		box-shadow: 0 0 20px 2px rgba(57, 172, 130, 0.7);
	}
}
.btn--border {
	@extend .b-n;
	@extend .transition;
	@extend .tac;
	background-color: transparent;
	color: $btn-color;
	padding: 10px 20px;
	border-radius: 25px;
	border: 2px solid #39ac82;
	line-height: 26px;
	&:hover {
		color: #fff;
		background-color: #39ac82;
	}
}
