// ============= Navigation ==============
.header {
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  @extend .transition;
  padding-top: 230px;
  padding-bottom: 230px;
  height: 100vh;
}
.head-inside {
  background-position: center top;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/head-inside--bg.png);
  padding-bottom: 151px;
}
.navigation {
	position: absolute;
	width: 100%;
	padding-top: 35px;
	z-index: 9999;
}
/*===logo===*/
.logo {
	a {
		display: inline-block;
		width: 112px;
		img {
      display: block;
      margin: 0 auto;
			width: 50px;
		}
    span {
      display: block;
      @extend .regular;
      @extend .tac;
      font-size: em(15);
      color: $btn-color;
    }
	}
}
// ============= Menu =============
.menu {
  @extend .d-f;
  @extend .jcc;
  &__wrapper {
    @extend .d-f;
    @extend .jcc;
  }
  &__item {
    position: relative;
    margin-left: 30px;
    &:nth-child(1) {
      margin-left: 0;
    }
    &--inside {
      &:nth-child(2) {
        margin: 15px auto;
      }
    }
    &--service {
      &:hover {
        .menu__inside {
          bottom: -116px;
          display: block;
          opacity: 1;
        }
      }
    }
  }
  &__link {
    position: relative;
    @extend .regular;
    display: inline-block;
    color: #fff;
    font-size: em(20);
    letter-spacing: em(0.5);
    line-height: em(15);
    &:hover {
      color: $btn-color;
      &:after {
        top: -8px;
        opacity: 1;
      }
    }
    &:after {
      position: absolute;
      width: auto;
      content: '';
      display: block;
      left: -1px;
      top: -5px;
      width: 0;
      height: 0;
      border-color: $btn-color transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      @extend .transition;
      opacity: 0;
    }
    &--inside {
      @extend .menu__link;
    }
  }
  &__inside {
    @extend .transition;
    position: absolute;
    left: 0;
    bottom: 22px;
    width: auto;
    background-color: rgba(0,0,0, .4);
    padding: 16px 15px 14px 11px;
    width: 337px;
    opacity: 0;
  }
}
.tel {
  &__item {
    text-align: right;
  }
  &__link {
    color: #fff;
    font-size: em(20);
    @extend .semibold;
    line-height: em(20);
    letter-spacing: em(0.5);
    &:hover {
      color: $btn-color;
    }
  }
  &__btn {
    @extend .reset-btn;
    color: #fff;
    text-decoration: underline;
    margin-top: 8px;
    &:hover {
      color: $btn-color;
    }
  }
}
