body {
  padding: 0;
  margin: 0;
  background: $body-bg;
  color: #fff;
  position: relative;
  font: 14px sans-serif;
}
html {
  position: relative;
}

div, p, form, input, a, span, button {
  box-sizing: border-box;
}

p {
  margin: 0;
  margin-bottom: 0;
  line-height: 1.5em;
  letter-spacing: 0.04em;
}
/*--------------Style for highlight text----------------*/
p::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, a::selection, button::selection {
  background-color: #ec2f50;
  color: #fff;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin-bottom: 0;
  margin-top: 0;
}
a, a:hover, a:active {
  text-decoration: none;
}

a, button, input {
  transition: all 0.5s ease;
}

input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active

 {
  outline: none;
  cursor: pointer;
}
textarea {
  resize: none;
}
/*--------------Style for scroll bar----------------*/
::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}
::-webkit-scrollbar-track {
background-color:#ecedee
}
::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:$btn-color;
}
::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}
::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}
::-webkit-scrollbar{
width: 4px;
}
/*--------------Style for plaseholder----------------*/
::-webkit-input-placeholder { color: #090c1e; opacity: .5; }
::-moz-placeholder          { color: #090c1e; opacity: .5; }
:-moz-placeholder           { color: #090c1e; opacity: .5; }
:-ms-input-placeholder      { color: #090c1e; opacity: .5; }
/*========================Reset attr TITLE===================*/
