@import 'mixins';
@import 'colors';
@import 'fonts';
@import 'reset';
@import 'classes';
@import 'navigation';
@import 'header';
@import 'footer';
@import 'page';
.mob-menu {
  display: none;
}
.logo--mob {
  display: none;
}
.main-wrap {
  @extend .transition;
}
.footer-social--mob {
  display: none;
}
@import 'media';
